<% content_for :page_title, @post.title %>

<section class="">

    <div class="post-content">
        <%= @post.content %>
    </div>

    <hr />


    <div class="actions">
        <div class="">
            <p class="">
                <strong>Post Actions:</strong>
            </p>
        </div>
        <div  class="">
            <ul>
                <li><%= link_to "Edit", edit_post_path(@post), class: "" %></li>
                <li><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "" %></li>
            </ul>
        <div>
    </div>
</section>

<section class="">
    <div class="">
        <h2 class=""><strong><%= @post.comments.count %></strong> Comments</h2>
        <%= render @post.comments %>

        <div class="">
            <hr />
            <h3 class="">Mmm, Whatchya say?</h3> 
            <%= render 'comments/form' %>
        </div>
    </div>
</section>