<% content_for :page_title, @post.title %>

<section>

    <div class="post-content">
        <%= @post.content %>
    </div>

    <div class="actions">
        <div  class="">
            <ul>
                <li><%= link_to "Edit", edit_post_path(@post), class: "" %></li>
                <li><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "" %></li>
            </ul>
        <div>
    </div>
</section>

<hr />

<section class="comment-section">
    <div class="">

        <!-- Make if/else statement for # of comments -->

        <h3 class="comment-text"><strong><%= @post.comments.count %></strong> Comments</h3>

        <%= render @post.comments %>

        <div class="comment-form-cont">
            <h3 class="comment-text">Mmm, Whatchya say?</h3> 
            <%= render 'comments/form' %>
        </div>
    </div>
</section>