<!DOCTYPE html>
<html>
  <head>
    <title>My Ruby on Rails Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Blog', root_path, class: "" %></li>
          <li><%= link_to "Create New Post", new_post_path, class:"" %></li>
        </ul>
      </nav>

      <div class="page">
          <h1 class="">
          <%= yield :page_title %>
          </h1>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      By NPZ &hearts; w/ Ruby on Rails 
    </footer>
  </body>
</html>
